<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        $("button").click(function() {
            $.ajax('/home/index', {
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ post: { comments_attributes: [] }}),
                error:      function(response, status, jqxhr) { $("#response").html(response.responseText);  },
                success:    function(response, status, jqxhr) { $("#response").html("Request successful");  }
            });
        });
    });
</script>

<button>Send AJAX request with empty nested attributes</button><br/>
<ul>
  <li>Set rails to 3.2.10, then press "Send Ajax..." - Request successful</li>
  <li>Set rails to 3.2.11, then press "Send Ajax..." - Exception thrown </li>
</ul>
<hr/>
<div id="response"></div>